# --- Ignorer les fichiers Python ---
__pycache__/
*.pyc
.venv/
env/

# --- Ignorer les fichiers Vivado ---
*.jou
*.log
*.str
*.dmp
.Xil/
.ip_user_files/
fpga/*.cache/
fpga/*.hw/
fpga/*.sim/
fpga/*.runs/
fpga/*.xsa
